.DS_Store

*.pyc

venv*
.vscode/settings.json
modern_python_web_development_book/src/db/cryptid.db
modern_python_web_development_book/.DS_Store
modern_python_web_development_book/.vscode/settings.json
